html{
    background: navy;
}

.center{
    text-align: center;
    font-weight: bolder;
}

.heading{
    font-size: x-large;
}

p{
    color: oldlace;
}

h1{
    color: oldlace;
    
}
h2{
    color: oldlace;
}
form{
    text-align: center;
    
    border: black;
}
.border{
    border: oldlace;
    border-style: dotted;
    border-radius: 9 cm;
}

label{
    background: oldlace;
}

.blue{
    background: oldlace;
    text-align: center;
}